<!DOCTYPE html>
<html>
    <head>
        <title>Kward's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Kward's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Go to the left side. A sem border is decorated with a lacinia that is as much poisonous as it is useful. I don’t want an elitist life, but rather a gate of dignity from my own means. Pour out the feast, the earth with common running, the cake seasoned with flavor, until the mass is just fermented enough to be pleasant</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Go to the left side. A simple decoration with fringes can be as pleasing as it is harmful. Don’t live with arrogance, but open the way with dignity by your own effort. Spread things out — the ground with common paths, a little flavor added — until everything is balanced and pleasant.</p>
        </article>
    </body>
</html>